@import "./src/app/globals.module.scss"
    
.footer
    width: 100vw
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    background-color: $primary-color
    padding: 0 !important
    margin: 0 !important
    max-width: none !important
