@import "./src/app/globals.module.scss"

.barra_lateral
  width: 250px
  height: 90vh
  background-color: $primary-color

.title
  color: rgba(255, 255, 255, .8)
  font-size: 16px
  font-weight: bolder

.listItemButton
  display: flex
  align-self: center
  min-height: 32px
  color: rgba(255, 255, 255, .8)
  padding: 5px 24px 5px 24px
  &:hover
    background-color: rgba(255, 255, 255, .3)
  
.listItemIcon
  display: flex
  align-items: center
  min-width: 0
  margin-right: 16px
  color: rgba(255, 255, 255, .8)
  scale: .8

.listItemText
  font-size: 14px 
  font-weight: "bold"