
html body
  width: 100vw !important
  height: 100vh !important
  margin: 0 !important

.main
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  width: 100vw
  height: 100vh

.general_box
  display: flex
  flex-direction: row
  align-content: flex-start
  justify-content: flex-start
  align-items: flex-start
  width: 100vw
  height: 100vh
  @media screen and (max-width: 768px)
    display: flex
    flex-direction: column

/* Mobile */
@media (max-width: 700px)
  html body
    width: 100vw
    height: 100vh
    margin: 0 !important

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px)
  html body
    width: 100vw
    height: 100vh
    margin: 0 !important

@keyframes rotate
  from
    transform: rotate(360deg)

  to
    transform: rotate(0deg)
